crash-reports/
logs/
options\.txt
realms_persistence\.json
saves/calamity/advancements/
saves/calamity/data/
saves/calamity/DIM-1/
saves/calamity/DIM1/
saves/calamity/icon\.png
saves/calamity/level\.dat_old
saves/calamity/playerdata/
saves/calamity/poi/
saves/calamity/session\.lock
saves/calamity/stats/
screenshots/
server-resource-packs/
servers.dat
servers.dat_old
usercache\.json
/saves/eula.txt
/saves/ops.json
/saves/server.jar
/saves/server.properties
/saves/whitelist.json
/saves/banned-ips.json
/saves/banned-players.json
saves/libraries/*
saves/versions/*
.vscode/settings.json
