*

!saves/calamity/data/functions/

!saves/calamity/region/r.0.0.mca

!saves/calamity/structures

!saves/calamity/icon.png

!saves/calamity/level.dat

!resourcepacks/calamity/

!README.md
